.cosmetics__inner {
    position: static;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
    justify-items: center;
    
}

.cosmetics {
    height: 100%;
    margin: 20% 0 30%;
}

@media (max-width: 768px) {

    .cosmetics__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 25%;
    }

}

@media (max-width: 480px) {

    .cosmetics__inner {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10vh;
        justify-items: center;
        margin-top: 20vh;
        margin-bottom: 20vh;
    }


}