@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap');


header {
    position: fixed;
    background: #111111;
    width: 100%;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid #FFFFFF;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-logo {
    max-width: 100%;
}

.nav-link {
    transition: 0.7s ease;
    cursor: pointer;
}

.nav-link:hover {
    color: #CDAA7D;
    border-bottom: 1px solid #CDAA7D;
    transition: linear .3s;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}


@media (max-width: 1024px) {

    .nav-menu {
        font-size: 18px;
        gap: 20px;
    }

}


@media (max-width: 768px) {

    .hamburger {
        display: block;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #111111;
        width: 100%;
        align-items: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

